@model DogGo.Models.ViewModels.ProfileViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Walker Profile</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Walker.ImageUrl)
        </dt>
        <dd class="col-sm-10">
            <img class="bg-info" src="@Model.Walker.ImageUrl" alt="avatar" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Walker.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Walker.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Walker.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Walker.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Walker.Neighborhood)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Walker.Neighborhood.Name )
        </dd>     
    </dl>
</div>

    <section class="col-lg-4 col-md-8 container mt-5">
      <h4>Recent Walks</h4>

          <ul class="list-group mt-4">
        @foreach (Walk walk in Model.Walks)
        {
                <li class="list-group-item disabled" aria-disabled="true">
                  <span class="font-weight-bold ml-4">@walk.Date</span>
                </li>
                     <li class="list-group-item disabled" aria-disabled="true">
                      <span class="font-weight-bold ml-4">@walk.Owner.Name</span>
                  </li>
                  <li class="list-group-item disabled" aria-disabled="true">
                      <span class="font-weight-bold ml-4">@walk.Duration</span>
                  </li>
        }
      </ul>
    </section>

<section class="col-lg-4 col-md-8 container mt-5">
    <h4>TOTAL WALK TIME: @Model.WalkTime</h4>

    
</section>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
